<div class="container-fluid ">
<div class="row h-60">
  <div class="showcase-1 col-md-9"><%=link_to 'Art', art_path(@query_art), class:"title-btm"%></div>
    <div class="showcase-2 col-md-3"><%=link_to 'Psychology', psychology_path(@query_psychology), class:"title-btm"%></div>
</div>
<div class="row h-30">
  <div class="showcase-3 col-sm"><%=link_to 'Philosophy', philosophy_path(@query_philosophy), class:"title-btm"%></div>
  <div class="showcase-4 col-sm"><%=link_to 'History', history_path(@query_history), class:"title-btm"%></div>
  <div class="showcase-5 col-sm"><%=link_to 'Engineering', engineering_path(@query_engineering), class:"title-btm"%></div>
</div>
  </div>