<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.title %><br>
    <strong>Texto:</strong>
  <%= @article.text %><br>
  <strong>Category:</strong>
  <%= @article.category.name %><br>
    <strong>Author:</strong>
  <%= author_name(@article) %>
</p>
    <% if @article.image.attached? %>
      <%= image_tag url_for(@article.image), width:'300px' %>
    <% end %><br>

    <%= render partial: "votes" %>

    <%= link_to 'back', root_path %>