  <%= form_with model: @user do |form| %>
<div>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username, placeholder: "Your user name here"%>
  </div>
  <div>
    <%= form.submit %>
  </div>
  <% end %>
  <%= link_to "back", root_path %>

</div>