<!DOCTYPE html>
<html>
  <head>
    <title>ScienceBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar is-warning">
  <%= link_to 'Culture & Science', articles_path, class:'title dark-gray is-2 mt-1' %>
			<div class="navbar-burger burger" data-target="navbarExample">
					<span></span>
					<span></span>
					<span></span>
  		</div>

			<div id="navbarExample" class="navbar-menu">
							<div class="navbar-end">
          <div class="navbar-item">
					<div class="field is-grouped">
      <% if @current_user.nil? %>
	    <%= link_to 'New Article', new_article_path, class: "navbar-item" %></h3>
        <%= link_to 'Log in', sessions_path, class:'navbar-item' %>
        <%= link_to 'Sign up', new_user_path, class:'navbar-item' %>
      <% else %>
		                <%= link_to @current_user.username, root_path, class: "button is-info" %>
      <% end %>
	  </div>
	  </div>
  </div>
  </div>
</nav>

    <%= yield %>
  </body>
</html>
